*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
/* body::-webkit-scrollbar{
    display: none;
  } */
.navbar{
    height: 68px;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 0 0 #dcdada6c;
}
.navbar .container-fluid{
    justify-content: space-evenly;
}
.navbar-toggler{
    border: none;
    border-radius: 0;
}
.navbar .collapse{
    flex-grow: 0;
}
.navbar-brand{  
  width: 433px;
}
.navbar-brand img{
    height: 17px;
}
.navbar-nav{
    gap: 25px;
}
.toggle-permanent {
   padding-left: 25px;
    border: none;
    font-size: 1.5em;
    font-weight: 100;
   background: none;
}
.landing-image img {
    height: 40vh;
    margin: 140px 0 50px 0;
}
 img{
    /* overflow-clip-margin: content-box;
    overflow: clip; */
    max-width: 100%;
}

.text-center{
    text-align: center;
    /* padding: 0 20px 120px; */
}
.display-5{
    font-weight: 400;
    font-size: 1.25rem;
}
 .btn{
   margin-top: 25px;
   border-radius: 0;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.864);
}
.container{
   padding: 0 20px 120px;
}
/* .d-grid{
    height: 70px;
} */
.btn-primary{
    background-color: rgba(31, 80, 185, 0.882);
    font-size: 1.25rem;
    font-weight: 500;
}

.marketing .mainpage-para{
    font-size: large;
    text-align: start;
    margin: 20px 0;
}
.marketing li{
    text-align: start;
    padding:5px 0 ;
    font-size: 1.10rem;
}
.press-strip{
    margin-top: 10px;
    max-width: 100%;
}
.pricing .col-price{
    border: 1px solid #ccc;
    text-align: start;
    font-size: large;
    padding:0 25px;
    min-height: 20px;
}
.col-price p,h1{
    margin: 16px 0 15px;
}
.mini-container{
    margin-inline: auto;
   padding: 0;
   margin-top: 25px;
   padding: 0 20px 80px;
}

.footer ul{
    list-style: none;
    padding: 0;
}
.footer .first-list li
{
    display: block;
    color: black;
    font-size: 1.1rem;
    line-height: 1.8em;
    margin-right: 20px;
}
.footer a{
    text-decoration: none;
}
.footer .small-para{
    font-size: 0.72rem;
    color: #949090;
    padding-bottom:7px ;
    margin-top: 25px;
    line-height: 1.7em;
}
.footer .social-media .fa-brands{
    color: #3d3b3bc4;
    font-size: 1.2rem;
    margin-right: 20px;
}
.footer .social-media :hover{
    color: rgba(23, 79, 222, 0.848);
}
.footer .container{
   padding-bottom: 0;
}
.footer-links{
    height: 50px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links ul{
    list-style: none;
}
.footer-links a{
    color: #767373ae;
    font-weight: 500;
    padding: 1em;
}

